.feynman_link{
    text-decoration: none;
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    z-index: 1;
    transition: opacity 1s linear 0s;
  }

  .feynman_link:hover {
    opacity: 0.5;
  }
